:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--bg:#24292e;

    --post1: #586e80;
    --post2: #606365;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--bg);
       
}

body *{
    transition: 0.3s;

}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
    padding: 2px;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: var(--secondaryColor)
}
a:hover {
    color: var(--borderColor);
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 10px;
}

h1 {font-size: 56px};
h2 {font-size: 36px};
h3 {font-size: 28px};
h4 {font-size: 24px};
h5 {font-size: 20px};
h6 {font-size: 16px};

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    max-width: 130px;
    margin: auto;   
    background-color: var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
     
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;

}

.main-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: auto;    
    gap: 10px 10px; 
    padding: 20px;    
}

.nav-wrapper {
    background-color: var(--secondaryText);
    max-width: 170px;
    margin-left: 350px;
    
    -webkit-box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75); 

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;
}

#navigation a{
	color:var(--mainText);
}

#navigation {
    border: 5px solid var(--borderColor);
    
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

}

.profile_pic {
    padding: 10px;
    margin: 0px;

    -webkit-box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 23px 3px rgba(0,0,0,0.75); 

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;
}

.blog {
    background-color: ;
    border-bottom: ;
    padding: 0px;
    margin-top: -550px;      
    
}
.post1 {
    background-color: var(--post1);
    border-bottom: 1px solid var(--borderColor);
    padding: 5px;
    margin: 10px;    
     
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;
}
.post2 {
    background-color: var(--post2);
    border-bottom: 1px solid var(--borderColor);
    padding: 5px;
    margin: 10px;
     
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;
}
.post3 {
    background-color: yellow;
    border-bottom: 1px solid var(--borderColor);
    padding: 5px;
    margin: 10px;
     
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #c1c1c1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--secondaryText);
  color: white;
  text-align: center;
}


@media screen and (max-width: 800px) {
    .main-container {
        width: 100%;
    }    
    body {
        width: 100%;
    }
}

